name: Run zigSelf tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2.0.1
        with:
          version: 0.11.0-dev.3322+82632aff2

      - name: Run zigSelf tests
        run: zig build test
